body {
  margin: 0px;
  font-family: "Open Sans";

  * {
    box-sizing: border-box;
  }

  *,
  :after,
  :before {
    box-sizing: border-box;
  }
}

#a-cart .a-section__title:before {
  background-position: 0 -30px;
}

#a-delivery .a-section__title:before {
  background-position: -30px 0;
}

#a-payment .a-section__title:before {
  background-position: -60px 0;
}

#a-customer .a-section__title:before {
  background-position: -90px 0;
}

.a-delivery {
  max-width: 790px;
  margin: 0 auto;

  &__content {
    display: none;
    margin-top: 24px;

    .a-row:not(:last-of-type) {
      margin-bottom: 18px;
    }

    .a-address-cell {
      width: 40%;
    }

    .a-time-cell,
    .a-availability-cell,
    .a-order-cell {
      width: 20%;
    }

    @media screen and (max-width: 575px) {
      .a-availability-cell,
      .a-order-cell {
        display: none;
      }
    }
  }
}

.a-payment {
  &__content {
    display: none;
    max-width: 790px;
    margin: 24px auto 0;

    .a-radio:not(:last-of-type) {
      margin-bottom: 18px;
    }

    .a-row:not(:last-of-type) {
      margin-bottom: 18px;
    }

    p {
      font-size: 13px;
    }
  }

  &__description {
    margin-left: 35px;
  }
}

.a-customer {
  .a-row:not(:last-of-type) {
    margin-bottom: 18px;
  }
}

.a-calc {
  max-width: 620px;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  padding: 32px;

  &__header {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
  }

  &__section:not(:last-of-type) {
    margin-bottom: 20px;
  }

  &__label {
    display: block;
    font-weight: 600;
    font-size: 16px;
    margin-right: 12px;
    margin-bottom: 8px;

    &-thin {
      font-size: 12px;
      color: #666666;
      margin-bottom: 8px;
    }
  }

  &__link {
    font-size: 12px;
    color: #dd0b06;
    margin-bottom: 8px;
    text-decoration: none;
  }

  &__price {
    font-weight: 600;
    font-size: 24px;
  }
}

.a-bank {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  padding: 8px 24px;
  margin-bottom: 20px;

  &__title {
    display: block;
    font-weight: 600;
    font-size: 16px;
  }

  &__image {
    display: block;
    height: 44px;
    width: auto;
  }

  &__section {
    font-size: 12px;
    padding: 16px 0px;
    &:not(:last-of-type) {
      border-bottom: 1px solid #f2f2f2;
    }

    p {
      margin: 0px;
      line-height: 1.25em;
    }

    ul {
      margin: 0;
      padding-left: 16px;
    }
  }

  &__row {
    display: flex;
    margin: 0px -12px;
  }

  &__col {
    flex: 1 0 0%;
    padding: 0px 12px;
  }

  &__card {
    text-align: center;

    & > img {
      margin-bottom: 8px;
    }

    & > span {
      display: block;
      font-size: 14px;
      line-height: 1.25em;
      font-weight: 700;

      &:first-of-type {
        font-weight: 400;
      }
    }
  }
}

@media (max-width: 768px) {
  .a-bank {
    &__col {
      padding: 4px;

      &:first-of-type {
        padding-left: 12px;
      }

      &:last-of-type {
        padding-right: 12px;
      }

      &:not(:last-of-type) {
        border-right: 1px solid #f2f2f2;
      }
    }

    &__card {
      & > img {
        display: none;
      }

      & > span {
        font-size: 12px;
        font-weight: 700;

        &:first-of-type {
          font-weight: 400;
          margin-bottom: 4px;
          min-height: 34px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .a-bank__card > span {
    font-size: 10px;
    &:first-of-type {
      min-height: 28px;
    }
  }
}

@media (max-width: 480px) {
  .a-bank__card > span {
    font-size: 9px;
  }
}
