.a-d-block {
  display: block !important;
}

.a-d-flex {
  display: flex !important;
}

.a-align-items-center {
  align-items: center !important;
}

.a-justify-content-between {
  justify-content: space-between !important;
}

.a-justify-content-center {
  justify-content: center !important;
}

.a-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -12px;

  & > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding: 12px;
    flex-shrink: 0;
  }
}

.a-col {
  flex: 1 0 0%;
}

.a-col-auto {
  flex: 0 0 auto;
  width: auto;
}

.a-col-4 {
  flex: 0 0 auto;
  width: calc(100% / (12 / 4));
}

.a-col-6 {
  flex: 0 0 auto;
  width: calc(100% / (12 / 6));
}

.a-col-12 {
  flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 576px) {
  .a-col-sm-2 {
    flex: 0 0 auto;
    width: calc(100% / (12 / 2));
  }

  .a-col-sm-4 {
    flex: 0 0 auto;
    width: calc(100% / (12 / 4));
  }

  .a-col-sm-6 {
    flex: 0 0 auto;
    width: calc(100% / (12 / 6));
  }
}

@media (min-width: 992px) {
  .a-col-md {
    flex: 1 0 0%;
  }

  .a-col-md-2 {
    flex: 0 0 auto;
    width: calc(100% / (12 / 2));
  }

  .a-col-md-3 {
    flex: 0 0 auto;
    width: calc(100% / (12 / 3));
  }

  .a-col-md-5 {
    flex: 0 0 auto;
    width: calc(100% / (12 / 5));
  }
}

@media (min-width: 992px) {
  .a-col-lg {
    flex: 1 0 0%;
  }
}
